<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smzdm.filter">

    <application
        android:label="SMZDMFilter"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="SMZDMFilter: simple Xposed hook demo"/>
        <meta-data
            android:name="xposedminversion"
            android:value="54"/>
    </application>
</manifest>
